.App {
  text-align: center;
  background-color: blue;
}

body {
  background-color: blue;
  color: white;
}

@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "SEGA LOGO FONT";
  font-weight: 150;
  font-size: 3em;
}

.Navbar {
  background-color: blue;
}

.PlayerCard {
  max-width: 300px;
  padding: 8px;
}

.PlayerImage {
  transition: all 0.1s;
  max-width: 300px;
  border: 2px solid white;
}

.PlayerImage:hover {
  transform: scale(1.02);
}

.PlayersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Searchbar {
  text-align: center;
  width: 500px;
  height: 30px;
  font-size: 1.3em;
}

.SelectedPlayerContainer {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fiveaside {
  color: blue;
  background-color: white;
  font-family: "SEGA LOGO FONT";
  font-weight: 100;
  font-size: 1.5em;
}

.ExtraPlayerInfo {
  border: 2px solid white;
}

.Plimage {
  max-width: 296px;
}

.SearchDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Dropdown {
  position: relative; left: 70px
}

